#today {
    -fx-text-fill: coral;
}

.scroll-pane {
    -fx-background: #ddf5ee;
    -fx-background-color: #5F9EA0;
}

#opaque {
    -fx-background-color: white;
}

.toggle-button {
    -fx-background-color: white;
}

.toggle-button:selected {
    -fx-background-color: gainsboro;
}